<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashbaord.css') }}">
</head>

<body>
    <div id="nav-container"></div>
    <div class="dashboard">
        <h1 class="dashboard-title">IPFIRE LOG</h1>
        <div class="log-table">
            <table>
                <thead>
                    <tr>
                        <th>NO</th>
                        <th>INPUT ID</th>
                        <th>INPUT PASSWORD</th>
                        <th>SOURCE ADDRESS</th>
                        <th>RESULT</th>
                        <th>PROTOCOL</th>
                        <th>SRC PORT</th>
                        <th>DST PORT</th>
                        <th>TIME</th>
                    </tr>
                </thead>
                <tbody id="logTable"></tbody>
            </table>
        </div>
    </div>
    <script src="{{ url_for('static', filename='dashbaord.js') }}"></script>
</body>

</html>